# Виртуальная среда, переменные окружения
venvprod/
.venv/
venv/
.env
.venv
*.env

# Файлы проекта PyCharm
.idea/
__pycache__
db.sqlite3
*.sql
*.sqlite3

# Отчеты покрытия тестов
/htmlcov
.coverage

#mypy
mypy.ini

# Миграции Alembic

# Прочее
tasks.txt
*.log
/experiments
/logs
queries/
base_test.py
models_test.py
.ruff_cache
.mypy_cache
.pytest_cache
